{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'CSS\about-style.css' %}">
<title>{{ title }}</title>
{% endblock %}
{% block content %}
<section class="container cur">
    <div class="about">
        <h1 class="section-title">About Us</h1>
        <div class="video">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/YU-uOcJEBGY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <article>
            <p>
                Amra Durbar is a non-profitable welfare organization has been working on Bangladesh rivers environments since 2019.
                <br>
                <br>
                What is Bangladesh famous for? It is home to the world's largest river delta, which is formed by the Brahmaputra and the Ganges River. Roaming Bengal tigers in the Sundarbans, a mangrove and swampland in the delta. For the longest natural uninterrupted sea beach in Asia.
                <br>
                <br>
                River Pollutions:
                <br>
                River water is very much important for domestic, agriculture and industrial use in Bangladesh which is in critical condition from long time based on research data. During last 40 years, extreme pollution events occurred in peripheral rivers surrounding Dhaka city and Karnaphuli River in Chittagong city. Present data showed that other urban rivers are also in critical condition especially Korotoa, Teesta, Rupsha, Pashur and Padma. The pollutants flowing with water made a severe pollution in downstream areas of rivers. Metals concentrations in river water was found to be higher in dry season. Dissolve oxygen (DO) was nearly zero in Buriganga River and several points in Turag, Balu, Sitalakhya and Karnaphuli River. NO3–, NO2– and PO43- pollution occurred in different rivers. Zn, Cu, Fe, Pb, Cd, Ni, Mn, As and Cr concentration was above drinking water standard in most of the river and some metals was even above irrigation standard in water from several rivers.
                <br>
                <br>
                Illegal Occupied of River bank:
                <br>
                Dhaka, the capital city of Bangladesh, is one of the fastest growing and the most densely populated cities in the world. The city has 4 rivers all around which were once lifelines to it for economy and ecology. Being expanded rapidly in an unplanned way with the phenomenal increase of population, land scarcity and land price, the city’s peripheral zone reached the banks of the rivers. Consequently, an ill-motivated section of people began to use the riverbanks in a variety of ways leading to river encroachment. Gradual encroachment is narrowing down the rivers putting their existence to threat.
                <br>
                <br>
                Amra Durbar has been working to take care on river environments, prevent illegal occupied of river bank, awareness of river traffic laws and most of things they put their hard effort to make people awareness of taking care of River Environments and its History.
            </p>
        </article>
    </div>
</section>
{% endblock %}