.car{
    border-radius: 20px;
    padding: 0;
}
.carousel-item img {
    border-radius: 20px;
    height: 450px;
}
.pading{
    padding: 0px 10px;
}
.elementor{
    text-align: center;
}
.elementor-parent{
    padding: 60px 10px;
}
.our-vision, .who-with-us{
    padding: 40px 10px;
}
.video-section{
    padding: 0px 20px;
}
.video{
    padding: 0px 10px;
    height: 300px;
}
.section-name{
    text-align: center;
    padding-bottom: 40px;
}
iframe{
    border-radius: 15px;
}
.who-with-us-card{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid green;
    text-align: center;
}
.who-with-us-card:hover{
    background-color: rgba(0, 128, 0, 0.39);
}
.who-with-us-card h3{
    font-weight: 700;
}
.who-with-us h5{
    color: dimgray;
    font-size: 20px;
}
/* .carousel-indicators [data-bs-target] {
    background-color: #21B573;
}
.carousel-item .row{
    padding: 50px;
}
.col-md-5 .d-block{
    display: block;
    width: 300px;
    height: 250px;
    margin: 20px auto;
}
.col-md-5{
    padding: 50px;
}
.col-md-7{
    padding: 30px;
    text-align: center;
}
.col-md-7 h5{
    font-size: 50px;
    font-weight: 600;
}
p{
    color: dimgray;
}
.col-md-7 p {
    font-size: 20px;
} */
.button{
    background-color: #21B573;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: dimgray;
    padding: 5px 50px;
    border-radius: 20px;
}
.button:hover{
    border: 2px solid green;
    color: white;
}
.section-title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
}
.section-title h5 button{
    border: none;
    font-size: 15px;
    color: #DC3545;
    background-color: #F0FFF0;
}
.card-view{
    display: none;
}
.course-card{
    padding-bottom: 50px;
}
.card-img, .card-img-bottom, .card-img-top {
    display: block;
    width: 50%;
    height: 50%;
    margin: 20px auto;
}
.card-body{
    text-align: center;
}
.card{
    border-radius: 20px;
}
.course-active:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.price{
    padding: 0px 50px 10px 50px;
}
.price span{
    font-size: 20px;
}
.old-price{
    text-decoration: line-through;
}